.git
.github
.DS_Store
.env
.env.*
node_modules
vendor
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
public/hot
public/build
tests
docker-compose.yml
docker-compose.prod.yml
